@import "../../base/mixins";
@import "../../base/variables";

.Home {
  .container {
    max-width: 1400px;
    margin-top: 20px;

    margin: 0 auto;

    h1 {
      text-align: center;
    }

    .seccion__container {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      @include desktop {
        margin-top: 135px;
      }

      .seccion__container-div {
        margin-bottom: 20px;
        @include desktop {
          margin: none;
        }
        a {
          width: 100%;

          .fondo {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: $verde;

            border-radius: 5px;
            position: relative;

            height: 300px;

            display: flex;
            justify-content: center;
            align-items: center;

            @include desktop {
              width: 800px;
              height: 300px;
            }

            div {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              h3 {
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                position: relative;
                font-size: 2rem;

                color: $blanco;

                @include desktop {
                  font-size: 3rem;
                }
              }

              p {
                display: none;
                color: $verde;
                position: relative;
                margin-top: 50px;
                font-size: 1rem;

                @include desktop {
                  font-size: 2rem;
                }
              }
            }

            &:hover {
              transform: scale(1.07);
              transition: all 0.5s;

              h3 {
                font-size: 2rem;

                @include desktop {
                  font-size: 3.1rem;
                }
              }

              p {
                display: block;
              }
            }
          }
          .fondo::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.6);
            border-radius: 5px;
          }

          .comidadeperro {
            background-image: url("../../../images/secciones/comidadeperros.jpg");
          }

          .productodeperro {
            background-image: url("../../../images/secciones/productosdeperros.jpg");
          }

          .comidadegato {
            background-image: url("../../../images/secciones/comidadegatos.jpg");
          }

          .productodegato {
            background-image: url("../../../images/secciones/productosdegatos.jpg");
          }
        }
      }
    }

    @include desktop {
      display: flex;
      justify-content: center;
      gap: 3rem;
    }

    .aside-div {
      display: flex;
      justify-content: center;
      height: auto;
      .aside {
        background-color: $verde;
        margin-top: 135px;

        width: auto;

        border-radius: 7px;

        @include desktop {
          width: 350;
          height: 400px;
        }

        div {
          margin: 0;
          padding: 20px;
          width: 100%;
          border-bottom: 1px solid $blanco;

          &:last-of-type {
            border: none;
          }
        }

        .aside__header {
          .aside-title {
            color: $blanco;
            font-size: 2rem;
            text-shadow: 2px 2px 2px $verdeOscuro;

            img {
              width: 30px;
            }
          }
        }

        .aside-p {
          font-size: 1.5rem;
          margin-bottom: 10px;
          color: $blanco;

          @include desktop {
            font-size: 1.5rem;
          }

          a {
            color: $blanco;
            text-decoration: underline;
          }
          span {
            display: block;
            color: $blanco;
            text-shadow: 2px 2px 2px $verdeOscuro;

            @include desktop {
              display: inline;
            }
          }
        }
      }
    }
  }
}
