@import "../../base/variables";

.PerrosComida__title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  color: $negro;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  .PerrosComida_products {
    margin: 0 auto;
  }
}
